@use "sass:map";
// ブレイクポイント
$bp: (
  spXs: "screen and (max-width: 480px)",
  sp: "screen and (max-width: 768px)",
  tb: "screen and (max-width: 1024px)",
  spUp: "screen and (min-width: 769px)",
);

// メディアクエリ
@mixin mq($breakpoint) {
  @media #{map.get($bp, $breakpoint)} {
    @content;
  }
}


// includeでの呼び出し方（PC⇨スマホ）
// 　　　　@include mq(sm){

//     }

// @media
// @media screen and (max-width: 929px) {


@mixin flex(
  $jc: center,
  $ai: center,
  $dir: row,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $jc;
  align-items: $ai;
}
// 呼び出し方
// .b {
//     @include flex(space-between, center, row);
//     }

@mixin btn {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 13px 30px;
    border-radius:50vh ;

}


