// 色管理用の変数
$blackColor: #555555;
$whiteColor: #F9F9F9;
$primaryColor: #93C572;
$accentColor: #F7B560;

// コンテンツ幅管理用の変数
$contentWidthSSm: 600px;
$contentWidthSm: 980px;
$contentWidth: 1112px;
$contentWidthLg: 1200px;

// z-index管理用の変数
$zIndexBack: -1;
$zIndexDefault: 1;
$zIndexHeader: 100;
$zIndexMenu: 150;
$zIndexModal: 200;
